<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to hacker news </title>
</head>
<body>
        <a href='/articles/add'> Add articles</a>    
<h1><%= title%></h1>


<ol>
<!-- //heli -->
    <% links.forEach(function(data){ %>
  
   
  <li>  <a href='/links/<%=data._id %>'>
 
           <%=data.link %>
        </a>
    <a href='/posts/<%=data._id %>'>
    <h5>Comments</h5></a>
</li>
    
    AUTHOR:    <%=data.author%>
    <hr>
   
    <% }) %>
</ol>


</body>
</html>
